<div style="display: flex; justify-content: space-between; align-items: center;">
<h2>Lista de Productos</h2>
<h6>DynamoDB</h6>
<h6>Amazon Cloudfront</h6>
  <mat-form-field appearance="fill" style="width: 300px;">
    <mat-label>AWS Api Gateway</mat-label>
    <mat-select (selectionChange)="abrirRepositorio($event.value)">
      <mat-option [value]="'https://github.com/jiremv/node-backend-nestjs'">
        Node Backend (NestJS)
      </mat-option>
      <mat-option [value]="'https://github.com/jiremv/java-backend-quarkus'">
        Java Backend (Quarkus)
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
<button mat-raised-button color="primary" (click)="nuevo()">Nuevo Producto</button>
<table mat-table [dataSource]="productos" class="mat-elevation-z8">
  <ng-container matColumnDef="productoId">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let p">{{ p.productoId }}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let p">{{ p.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef>Categoría</th>
    <td mat-cell *matCellDef="let p">{{ p.categoria }}</td>
  </ng-container>

  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let p">{{ p.precio }}</td>
  </ng-container>
  <ng-container matColumnDef="fechaCreacion">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell *matCellDef="let p">{{ p.fechaCreacion }}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let p">
      <button mat-button (click)="editar(p.productoId)">Editar</button>
      <button mat-button color="warn" (click)="eliminar(p.productoId!)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>