<mat-card>
<h2>{{ id ? 'Editar Producto' : 'Nuevo Producto' }}</h2>
<form [formGroup]="form" (ngSubmit)="guardar()" class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>ID del Producto</mat-label>
    <input matInput formControlName="productoId" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Categoría</mat-label>
    <input matInput formControlName="categoria" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Precio</mat-label>
    <input matInput type="number" formControlName="precio" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha de Creación</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fechaCreacion">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" type="submit">Guardar</button>
    <button mat-button color="accent" type="button" (click)="volver()">Volver</button>
  </div>
</form>
</mat-card>
